@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-900 text-gray-100 overflow-hidden m-0 p-0;
  }
}

/* Custom Scrollbar for sleek look */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280;
}
